FTP_SERVER=ftp.seudominio.com.br
FTP_USERNAME=seu_usuario_de_ftp_da_hostinger
FTP_PASSWORD=sua_senha_de_ftp
VITE_SUPABASE_URL=SUA_URL_DO_SUPABASE
VITE_SUPABASE_ANON_KEY=SUA_ANON_KEY_DO_SUPABASE
FTP_REMOTE_PATH=/
BASE_URL=/markdown 